<!DOCTYPE HTML>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        {% block stylesheets %}
        <link rel="stylesheet" type="text/css" href="{{asset('assets/fonts/font-awesome-4.7.0/css/font-awesome.min.css')}}">
	<link rel="stylesheet" type="text/css" href="{{asset('assets/css/util.css')}}">
	<link rel="stylesheet" type="text/css" href="{{asset('assets/css/mail-vendeur.css')}}">
        <link rel="icon" type="image/png" href="{{asset('images/trail-running-shoe.ico')}}"/>
        {% endblock %}
       
    </head>

{% block body %}
    <div class="limiter">
            <div class="container-login100">
                <div class="wrap-login100">
                    {{ form_start(mailVendeurForm, {
                            attr: { class:'login100-form validate-form p-l-55 p-r-55 p-t-178'} }) }}
                            <span class="login100-form-title">Envoyer un mail au vendeur</span>
                   
                            <div class="wrap-input100 validate-input m-b-16">
                                {{ form_row(mailVendeurForm.nom, {
                                    attr: {placeholder: 'Nom', class: 'input100'} }) }}
                                <span class="focus-input100"></span>
                            </div>
                                
                            <div class="wrap-input100 validate-input m-b-16">
                                {{ form_row(mailVendeurForm.adresse_mail, {
                                    attr: {placeholder: 'Adresse mail', class: 'input100'} }) }}
                                <span class="focus-input100"></span>
                            </div>

                            <div class="wrap-input100 validate-input m-b-16">
                                {{ form_row(mailVendeurForm.message, {
                                    attr: {placeholder: 'Message', class: 'input100'} }) }}
                            </div>
                        
<!-----------------------------------------------------BOUTON---------------------------------------------------->
                        <div class="container-login100-form-btn">
                            <button class="login100-form-btn">Envoyer</button>
                        </div>

                        <div class="flex-col-c p-t-170 p-b-40">
                            <span class="txt1 p-b-9">@Vide | Sneakers</span>
                        </div>
                    {{ form_end(mailVendeurForm) }}
                </div>
            </div>
        </div>
{% endblock %}
