<!DOCTYPE HTML>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        {% block stylesheets %}
        <link rel="stylesheet" type="text/css" href="{{asset('assets/fonts/font-awesome-4.7.0/css/font-awesome.min.css')}}">
	<link rel="stylesheet" type="text/css" href="{{asset('assets/css/articles.css')}}">
        <link rel="icon" type="image/png" href="{{asset('images/trail-running-shoe.ico')}}"/>
        {% endblock %}
       
    </head>

{% block body %}
    <div id="preview" class="vertical">
            <div class="inner">
                <div class="image fit">
                    <img src="images/pic04.jpg" alt="" />
                    <img src="images/pic14.jpg" alt="" />
                    <p>Date de mise en ligne</p>
                </div>
                <div class="content">
                    <header>
                        <h2>Nom</h2><span>|</span><h3>Prix</h3>
                    </header>
                    <p class="infos_article">Genre - Marque - Taille - Couleur - Etat</p>
                    <p>Description - Proin faucibus laoreet quam. Maecenas et ullamcorper lectus. Ut nunc velit, varius auctor semper vitae, fermentum ac ligula. Curabitur at dolor sapien. Sed nec libero at leo feugiat pharetra vitae vel felis. Pellentesque eget erat id mauris volutpat blandit. Suspendisse vulputate massa turpis, eu ultrices massa malesuada at. Sed sit amet faucibus sem.</p>
                    
                    <div class="infos_vendeur">
                        <img src="images/vendeur.png" alt="" class="image_vendeur">
                        
                        <div>
                            <h5>Nom du vendeur</h5>
                            <a href="../MailVendeur/mail_vendeur.html"><button class="BtnMailVendeur">Envoyer un mail au vendeur</button></a>
                        </div>
                        
                    </div>
                    
                </div>

            </div>
            <a href="{{path('articles_page')}}" class="nav previous"><span class="fa fa-chevron-left"></span></a>
            <a href="{{path('articles_page')}}" class="nav next"><span class="fa fa-chevron-right"></span></a>
        </div>
{% endblock %}
