<!DOCTYPE HTML>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        {% block stylesheets %}
        <link rel="stylesheet" type="text/css" href="{{asset('assets/fonts/font-awesome-4.7.0/css/font-awesome.min.css')}}">
	<link rel="stylesheet" type="text/css" href="{{asset('assets/css/articles.css')}}">
        <link rel="icon" type="image/png" href="{{asset('images/trail-running-shoe.ico')}}"/>
        {% endblock %}
       
    </head>

{% block body %}
    <div id="preview" class="vertical">
        <div class="header">
            <a href={{path('home_page')}}><span class="fa fa-chevron-left"></span>Retour aux articles</a>
        </div>
            <div class="inner">
                <div class="image fit">
                    <img src="{{ asset('dossierFichiers/' ~ unArticle.photos[0].photo)}}" alt="" />
                    <p>Date de mise en ligne : {{ unArticle.dateMiseEnLigne|date('d/m/Y') }}</p>
                </div>
                <div class="content">
                    <header>
                        <h2>{{ unArticle.nom }}</h2><span>|</span><h3>{{ unArticle.prix }}€</h3>
                    </header>
                    <ul class="infos_article">
                        <li>GENRE : {{ unArticle.genre }}</li>
                        <li>MARQUE : {{ unArticle.marque }}</li>
                        <li>TAILLE : {{ unArticle.taille }}</li>
                        <li>COULEUR : {{ unArticle.couleur }}</li>
                        <li>ETAT : {{ unArticle.etat }}</li>
                    </ul>
                    <p>{{ unArticle.description }}</p>
                    
                    <div class="infos_vendeur"> 
                        <div>
                            <h5>Nom du vendeur : {{ unArticle.vendeur.prenom }}</h5>
                            <a href={{path('mail_vendeur')}}><button class="BtnMailVendeur">Envoyer un mail au vendeur</button></a>
                        </div>   
                    </div>
                </div>
{% endblock %}
