<!DOCTYPE HTML>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        {% block stylesheets %}
        <link rel="stylesheet" type="text/css" href="{{asset('assets/fonts/font-awesome-4.7.0/css/font-awesome.min.css')}}">
	<link rel="stylesheet" type="text/css" href="{{asset('assets/css/util.css')}}">
	<link rel="stylesheet" type="text/css" href="{{asset('assets/css/add-article.css')}}">
        <link rel="icon" type="image/png" href="{{asset('images/trail-running-shoe.ico')}}"/>
        {% endblock %}
       
    </head>
    
{% block body %}
    <div class="limiter">
            <div class="container-login100">
                <div class="wrap-login100">
                    {{ form_start(addArticleForm, {
                    attr: { class:'login100-form validate-form p-l-55 p-r-55 p-t-178'} }) }}
                    <span class="login100-form-title">Ajouter un article</span>

                    <div class="wrap-input100 validate-input m-b-16">
                        {{ form_row(addArticleForm.nom, {
                        attr: {placeholder: 'Choisissez le nom', class: 'input100'} }) }}
                        <span class="focus-input100"></span>
                    </div>

                    <div class="wrap-input100 validate-input m-b-16">
                        {{ form_row(addArticleForm.genre, {
                        attr: {class: 'input100'} }) }}
                        <span class="focus-input100"></span>
                    </div>

                    <div class="wrap-input100 validate-input m-b-16">
                        {{ form_row(addArticleForm.taille, {
                        attr: {class: 'input100'} }) }}
                        <span class="focus-input100"></span>
                    </div>
                        
                    <div class="wrap-input100 validate-input m-b-16">
                        {{ form_row(addArticleForm.couleur, {
                        attr: {class: 'input100'} }) }}
                        <span class="focus-input100"></span>
                    </div>

                    <div class="wrap-input100 validate-input m-b-16">
                        {{ form_row(addArticleForm.marque, {
                        attr: {placeholder: 'Choisissez la marque', class: 'input100'} }) }}
                        <span class="focus-input100"></span>
                    </div>

                    <div class="wrap-input100 validate-input m-b-16">
                        {{ form_row(addArticleForm.prix, {
                        attr: {placeholder: 'Choisissez le prix', class: 'input100'} }) }}
                        <span class="focus-input100"></span>
                    </div>
                    
                    <div class="wrap-input100 validate-input m-b-16">
                        {{ form_row(addArticleForm.etat, {
                        attr: {placeholder: 'Choisissez l état', class: 'input100'} }) }}
                        <span class="focus-input100"></span>
                    </div>
                        
                    <div class="wrap-input100 validate-input m-b-16">
                        {{ form_row(addArticleForm.description, {
                        attr: {placeholder: 'Décrivez l article', class: 'input100'} }) }}
                        <span class="focus-input100"></span>
                    </div>
                        
                    <div class="wrap-input100 validate-input m-b-16">
                        {{ form_row(addArticleForm.photo, {
                        attr: {placeholder: 'Ajoutez une photo', class: 'input100'} }) }}
                        <span class="focus-input100"></span>
                    </div>

<!-----------------------------------------------------BOUTON---------------------------------------------------->
                        <div class="container-login100-form-btn">
                            <button class="btn login100-form-btn">Ajouter votre article</button>
                        </div>

                        <div class="flex-col-c p-t-170 p-b-40">
                            <span class="txt1 p-b-9">@Vide | Sneakers</span>
                        </div>
                    {{ form_end(addArticleForm) }}
                </div>
            </div>
        </div>
{% endblock %}