<!DOCTYPE HTML>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        
        {% block stylesheets %}
        <link rel="icon" type="image/png" href="{{asset('images/trail-running-shoe.ico')}}"/>
        <link rel="stylesheet" href="{{asset('assets/css/main.css')}}" />
        {% endblock %}
       
    </head>
    <body>
               
        {% block body %}{% endblock %}
        
        {% block javascripts %}
        {#<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>#}
        <script src="{{asset('assets/js/jquery.min.js')}}"></script>
        <script src="{{asset('assets/js/skel.min.js')}}"></script>
        <script src="{{asset('assets/js/util.js')}}"></script>
        <script src="{{asset('assets/js/main.js')}}"></script>
        {% endblock %}

    </body>
</html>